html, body{
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: #111;
}

#form-place{
    padding: 7em 10em 5em 7em;
}

.landing{
    height: 100%;
}

#logo > h3{
    color: #111;
    font-size: 25px;
    font-weight: 600;
}

#red{
    color: red;
    position: relative;
    left: -10px;
}

.main-con{
    padding-top: 12em !important;
    height: 100%;
}

div.main-con{
    /* box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.829); */
    /* padding-top: 7em; */
    padding-bottom: 8em;
    max-height: 100%;
    color: rgba(255, 255, 255, 0.3)    ;
}

#formPlace{
    padding-left: 30px;
}

.row{
    background-color: #fff;
}



#info{
    margin-top: 175px !important;
    color: #fff;
    padding-left: 30px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.main-con{
  
    background: url(Mp.jpeg) center no-repeat;
    background-size: cover;
    background-position: center;
    
}



#submit{
    background-color: red;
    border: 1px solid red;
    color: #fff;
}

.form-control-sm {
    background-color: #F1F3F4;
}


textarea, select, input, button { outline: none !important;  }

#result{
    /* color: green !important; */
}

#logo{
    padding-left: 10px;
    padding-top: 10px;
}

#logo2{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}


body{
	/* text-align: center;
	background: #00ECB9; */
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #111;
  font-weight: 100;
  font-size: 47px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    text-align: center;
	color: #fff;
	/* display: inline-block; */
	font-weight: 100;
    text-align: center;
    margin-top: 70px;
	font-size: 30px;
}

#clockdiv > div{
    text-align: center;
	padding: 10px;
	border-radius: 3px;
	background: rgba(44, 44, 44, 0.479);
    display: inline-block;
    width: 150px;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: red;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


#social{
    padding-left: 120px !important;
}

a > .fa{
    font-size: 20px;
    margin-right: 15px;
    font-weight: 400;
}